<div class="page-header">
  <%= page_header_admin_menu(@species, :edit) %>
  <h1>
    <%= fo_icon_tag(:species) %>
    <%= t 'shared.sections.species' %>
  </h1>
</div>

<%= render :partial => 'form' %>
