<div class="page-preview">
  <dl class="dl-horizontal">
    <dt><strong>Naslov:</strong></dt>
    <dd><%= localized_page.title %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt><strong>Sadržaj:</strong></dt>
    <dd><%= raw localized_page.content %></dd>
  </dl>
</div>