<%= admin_page_header(@reference, :show) %>
<%= admin_show_fields(@reference, Reference::PUBLIC_FIELDS) %>

<span id="characteristics-container">
  <%= render partial: 'admin/characteristics/index', locals: {options: @subheader_options, characteristics: @reference.characteristics, species: nil, reference: @reference, characteristic_fields: @characteristic_fields } %>
</span>