<div class="filters">
  <h5 class="card-title">Filteri za pretragu</h5>
  <div class="filter-row">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Vrsta <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Rod</a></li>
        <li><a class="dropdown-item" href="#">Familija</a></li>
        <li><a class="dropdown-item" href="#">Klasa</a></li>
        <li><a class="dropdown-item" href="#">Razdeo</a></li>
      </ul>
    </div>
    <input type="text" name="" value="">
  </div>
  <div class="filter-row">
    <h5 class="card-title">staniste</h5>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Vrsta <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Rod</a></li>
      <li><a class="dropdown-item" href="#">Familija</a></li>
      <li><a class="dropdown-item" href="#">Klasa</a></li>
      <li><a class="dropdown-item" href="#">Razdeo</a></li>
    </ul>
  </div>
</div>
