<div class="container">
  <div class="col-sm-3">
    <div class="row">
      <%= render "shared/filters" %>
    </div>
  </div>
  <div class="col-sm-9">
      <%= will_paginate %>
      <div class="row">
        <%= render "shared/specimens_cards", specimens: @specimens %>
      </div>
      <%= will_paginate %>
  </div>
</div>
