<div class="container">
  <div class="col-sm-3">
    <div class="row">
      <%= render "filters" %>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <%= will_paginate %>
    </div>

    <%= render "specimens" %>

    <div class="row">
      <%= will_paginate %>
    </div>
  </div>
</div>
