<div class="page-hero">
  <h1><%= @specimen.display_name %></h1>
  <ol class="breadcrumb">
    <li><a href="#">Familija</a></li>
    <li><a href="#">Vrsta</a></li>
    <li class="active"><%= @specimen.display_name %></li>
  </ol>
</div>
<div class="container">
  <div class="col-sm-5">
    <ul class="list">
      <li>Lokacija: <span>Fruska Gora</span> </li>
      <li>Datum unosa nalaza: <span>25 05 2015</span> </li>
      <li>Legator: <span> <a href="#">Hari</a> </span> </li>
      <li>Vrsta: <span>gljivica</span> </li>
    </ul>
    <div class="card">
      <div class="card-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1872006.9416923695!2d119.89341593838454!3d23.594878987290247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346ed5cb2b61c3a5%3A0xcf20ddb042be7fa0!2z0KLQsNGY0LLQsNC9!5e0!3m2!1ssr!2srs!4v1529930133466" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top " src="<%= asset_path( 'index/3.jpg' ) %>" alt="Card image cap">
      </div>
    </div>
  </div>
</div>
