<%= form_for Comment.new, url: url do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "comment-form form-control", placeholder: "Dodaj komentar" %>
  </div>
  <%= f.submit "dodaj komentar", class: "btn" %>
<% end %>
