<header >
    <nav class="custom-fungi flex-fungi">
        <div class="left">
            <div class="search flex-fungi">
                <i class="fa fa-search" aria-hidden="true"></i>
                <p>pretrazi</p>
            </div>
        </div>
        <div class="logo">
            <h1>logo</h1>
        </div>
        <div class="right flex-fungi">
            <div class="login flex-fungi">
                <p>prijavi se</p>
            </div>
            <div class="menu flex-fungi">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <p>meni</p>
            </div>
        </div>
        <div class="dropdown-menu">
            <ul>
                <li><a href="#">uvod</a></li>
                <li><a href="#">vrste</a></li>
                <li><a href="#">uputstvo</a></li>
                <li><a href="#">pitanja i odgovori</a></li>
                <li><a href="#">statistika</a></li>
                <li><a href="#">o gljivama</a></li>
                <li><a href="#">o nama</a></li>
            </ul>
            <ul>
                <li><a href="#">o nama</a></li>
            </ul>
                <div class="drop-soc">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
    </nav>
    <div class="search-input flex-fungi">
        <div>
                <i class="fa fa-times" aria-hidden="true"></i>
                <input type="text" autofocus placeholder="ime gljive">
        </div>
        <p>napredna pretraga</p>
    </div>
    <div class="filters">
            <ul class="flex-fungi ">
                <p>filter:</p>
                <li><a href="#">panj</a></li>
                <li><a href="#">livada</a></li>
                <li><a href="#">suma</a></li>
                <li><a href="#">filter</a></li>
                <li><a href="#">panj</a></li>
                <li><a href="#">livada</a></li>
                <li><a href="#">suma</a></li>
                <li><a href="#">filter</a></li>
                <li><a href="#">panj</a></li>
                <li><a href="#">livada</a></li>
                <li><a href="#">suma</a></li>
                <li><a href="#">filter</a></li>
                </ul>
    </div>
</header>
