<li class="sidebar-search" data-species-search-active="<%= is_species_search? %>" data-species-search-path="<%= Rack::Utils.escape send(:search_species_index_url, locale: I18n.locale)  %>">
  <div class="input-group custom-search-form">
    <input type="text" class="form-control" placeholder="Search...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
  </div>
</li>