@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

*{
    padding: 0;
    margin: 0;
    // font-family:  "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    transition: .3s;
}

body{
  padding-top: 100px;

  // color: #2b2b2b;
  font-family: "acumin-pro","Helvetica Neue",Helvetica,Arial,メイリオ,Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3",osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 12px;
  line-height: 1.3;

  font-family: "apercu",sans-serif;
  font-weight: 300;
  color: #202121;
  background: #f4f7f6;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a,
a:hover,
.green:hover{
  // color: #74ac00;
  // color: #74ac00;
  // color: #eee;
  color: #19cc95;
  text-decoration: none !important;
}

a{
  color: #333;
}

.btn{
  border-radius: 0;
}

.navbar-default{
  background-color: #19cc95;
}

// .list-group-item a{
//   color: #777;
// }

// .navbar-right li{
//   border-left: 1px solid #E6EAEA;
// }

// .navbar-inverse{
//   background-color: #30dac4;
// }

.navbar-nav li:hover{
  background-color: #fff;
}

.navbar-nav li:hover a{
  color: #19cc95 !important;
}

.navbar-nav a{
  color: #fff !important;
  font-size: 14px;
}

.dropdown-toggle,
.btn-default{
  // background-color: #86a91c;
  border-color: #fff;
  color: #19cc95;
}

.dropdown-toggle.active{
  background-color: inherit;
}

.form-check{
  color: #333;
  padding-left: 15px;
}

.filter-title{
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 5px;
}

.btn-primary:hover{
  background-color: inherit;
}

.form-control{
  border-radius: 15px !important;
  border-color: #19cc95;
}

.fixed{
  position: fixed;
}

.list-group-item{
  // border: none;
  border: 1px solid #f4f7f6;
  background-color: inherit !important;
}

.list-group-item:hover{
  background-color: #fff !important;
  cursor: pointer;
  border: 1px solid #E6EAEA;
}

.navbar-right li:last-child{
  border: none;
}

.card{
  height: 350px;
  max-height: 400px;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
}

.card-user{
  font-size: 15px;
  color: #19cc95;
}

.img-wrap{
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.card-img-top {
  height: 100%;
  width: 100%;
}

.card-body{
  padding: 2%;
}

.card-title{
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.card-footer{
  border-top: 1px solid #E6EAEA;
  padding: 10px 0;
}

.card-footer a{
  font-size: 13px;
  color: #333;
}

.card-footer a:hover{
  color: #19cc95;
}

.list-group{}

// ------------------------------
.pagination {
   padding-bottom: 15px;
   margin: 13px;
 }

.pagination a {
  padding: 10px 8px 10px 8px;
  border: 1px solid #E6EAEA;
  text-decoration: none;
  color: #333;
  background-color: #fff;
}

.pagination a:hover,
.pagination a:active {
  // background-color: #86a91c;
  background-color: #fff;
  color: #000;
  box-shadow: 0 1px 2px rgba(25,25,25,0.2);
}

.pagination span.current {
  padding: 10px 8px 10px 8px;
  margin: 112px;
  border: 1px solid #000099; font-weight: bold;
  background-color: #000099;
  color: red;
}

.pagination span.disabled {
  padding: 10px 8px 10px 8px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

// ------------------------------

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

// ------------------------------

.page-footer{
    background-color: #19cc95;
    color: #fff;
    padding: 10px;
}

// ------------------------------

// .product-slider { padding: 45px; }

.product-slider #thumbcarousel { margin: 0; padding: 0 45px; }

.product-slider #thumbcarousel .item { text-align: center; }

.product-slider #thumbcarousel .item .thumb { border: 2px solid #cecece; width: 20%; margin: 10px 0; display: inline-block; vertical-align: middle; cursor: pointer; max-width: 98px; }

.product-slider #thumbcarousel .item .thumb:hover { border-color: #19cc95; }

.product-slider .item img { width: 100%; height: auto; }

.carousel-control { color: #19cc95; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

.carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }

.carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
.carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

.carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }

.item-main{
  height: 400px;
  overflow: hidden;
}

.item-main img{
  max-height: 100%;
}
