@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

*{
    padding: 0;
    margin: 0;
    font-family:  "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    transition: .3s;
}

body{
  // background: #f4f7f6;
  background: #eee;
  padding-top: 100px;
}

a,
a:hover,
.green:hover{
  color: #74ac00;
}

.list-group-item a{
  color: #777;
}

.black{
  background-color: #000;
}

.green{
  background-color: #74ac00;
}

.navbar-right li{
  border-left: 1px solid #E6EAEA;
}

.navbar-right li:last-child{
  border: none;
}

.card{
  background: #fff;
  margin-bottom: 20px;
}

.img-wrap{
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.card-img-top {
  height: 100%;
  width: 100%;
}

.card-body{
  padding: 2%;
}

.card-title{
  font-weight: bold;
  margin-bottom: 30px;
}

.card-footer{
  border-top: 1px solid #E6EAEA;
  padding: 10px 0;
}
