@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

*{
    padding: 0;
    margin: 0;
    font-family:  "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    transition: .3s;
}

body{
  background: #f4f7f6;
}

a,
a:hover{
  color: #99cc33;
}

.btn{
  border-radius: 0;
  // border: 1px solid #E6EAE;
  border: none;
}

.form-control{
  border-radius: 0;
  border: 1px solid #E6EAEA;
}

.navbar-default{
  border-bottom: 1px solid #E6EAEA;
}

.center{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.green{
  background-color: #99cc33;
}

.dropdown{
  border-left: 1px solid #E6EAEA;
}

.dropdown-menu{
  border: 1px solid #E6EAEA;
}

.card{
  // height: 400px;
  // border: 1px solid #E6EAEA;
  background: #fff;
  margin-bottom: 20px;
}

.img-wrap{
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.card-img-top {
  height: 100%;
  width: 100%;
}

.card-body{
  padding: 2%;
}

.card-footer{
  border-top: 1px solid #E6EAEA;
  padding: 10px 0;
}

.img-circle{
  max-width: 20%;
}
