<label class="select optional control-label"><%= t('characteristic.attributes.habitat_species') %></label>
<select name="characteristic[habitats][<%= index %>][<%= habitat %>][species][]" class="select optional form-control" multiple="multiple">
  <%= options_for_select species, selected_species %>
</select>