<div class="page-header">
  <%= page_header_admin_menu(@localized_page.page, :show) %>
  <h1>
    <%= fo_icon_tag(:species) %>
    <%= @localized_page.localized_field(:title) %>
  </h1>
</div>

<dl class="dl-horizontal">
  <%= raw @localized_page.localized_field(:content) %>
</dl>